<h1><%= t "user_mailer.account_activation.text_header" %></h1>
<%= @greeting %> <%= t "user_mailer.account_activation.text_body" %>
<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
